services:
  app:
    build: .
    container_name: contacts_app
    restart: "on-failure"

    ports:
      - "8000:8000"

    depends_on:
      - redis
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379

  redis:
    image: redis:8.4.0-alpine
    container_name: contacts_redis
    restart: always

    ports:
      - "6379:6379"
      
    volumes:
      - ./redis_data:/data
    command: redis-server